* {
  box-sizing: border-box;
}

h1 {
  font-weight: 200;
}

[class^="col-"] {
  width: 100%;
  border: 1px solid white;
  border-radius: 3px;
  line-height: 50px;
  text-align: center;
  background: lightcoral;
  opacity: 0.4;
}

@media screen and (max-width: 720px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 721px) {
  .container {
    max-width: 960px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .col-1 {
    width: 8.3333334%;
  }
  .col-2 {
    width: 16.6666667%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.3333334%;
  }
  .col-5 {
    width: 41.6666665%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.3333334%;
  }
  .col-8 {
    width: 66.6666667%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.3333334%;
  }
  .col-11 {
    width: 91.6666667%;
  }
  .col-12 {
    width: 100%;
  }
}

.info {
  display: flex;
  justify-content: center;
}
