body {
  background: darkgray;
  margin: 0px;
}

.devider {
  display: grid;
  grid-template-columns: 70% 40%;
}

.info {
  margin-top: 100px;
  width: fit-content;
}
.user {
  font-size: 4rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}
.wrapper {
  grid-row-start: 1;
  grid-column-start: 2;
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(19, 32px);
  grid-template-rows: repeat(19, 32px);
  justify-content: center;
  align-items: center;
}
.board {
  grid-row-start: 1;
  grid-column-start: 2;
  /* width: 80%; */
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(18, 32px);
  grid-template-rows: repeat(18, 32px);
}
.go {
  border: solid black 1px;
  border-radius: 100px;
  width: 20px;
  height: 20px;
  text-align-last: center;
  color: white;
  /* background: white; */
  position: relative;
  top: -16px;
  left: -11px;
}

.grid {
  border: solid black 1px;
  width: 30px;
  height: 30px;
  background: #deb887;
}

.op {
  opacity: 0;
}

.black {
  background: black;
}

.white {
  background: white;
}
.timeMachine {
  padding: 10px;
  height: 300px;
  width: 250px;
  background: #ffffff99;
  overflow: scroll;
}
button {
  background: brown;
  border: 1px solid brown;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  font-size: 1.1rem;
  color: white;
}

.back {
  background: whitesmoke;
  color: gray;
  border: 1px solid whitesmoke;
}
